:root {
  --header-height: 30em;
}

body {
  background: #18212d;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100% 200%;
  background-position: center center;
  font-size: 62.5%;
  font-family: arial;
  margin: 0;
  padding: 0;
}

footer {
  padding: 2rem 0;
  margin: 2rem 0;
  border-top: 1px solid #ffae1a; 
  font-size: 15px;
  text-align: center;
  color:#ffae1a;
}

a:active {
  outline: none;
}
button:focus {
  outline: none;
}


.header {
  background-image: url('../img/header.png');
  background-color: #18212d;
  background-size: 55% 100%;
  background-repeat: no-repeat;
  background-position: center 35%;
  position: fixed;
  width: 100%;
  height: var(--header-height);
  z-index: 100;
  border-bottom: 10px solid #ffae1a;
}


.button-color {
  font-size: 2.2em;
  padding: 5px 30px;
  font-weight: 600;
  border: 3px solid #ffae1a;
  border-radius: 10px 10px 10px 10px;
  background: rgb(255, 174, 26);
  color: rgb(0, 0, 0);
  -webkit-transition: all 300ms ease;
  transition: all 300ms ease;
  margin: 1em 1em 1em 0.25em;
}

.button-color:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.button-group {
  position: absolute;
  margin: auto;
  right: 0;
}

#viewSaved {
  left: 11.5%;
}

.filler {
  width: 100%;
  height: var(--header-height);
}

.modal-content {
  background-image: url('../img/note-bc.png');
  background-color: #ffae1a;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center 12%;
  border-radius: 10px;
  font-family: 'Rock Salt', cursive;
  color: #777;

}

.modal-body {
  padding-top: 0;
  width: 50%;
  margin: 0 auto;
}

.modal-footer{
  padding: 15px;
  width: 50%;
  text-align: center !important;
  margin-left: auto !important;
  margin-right: auto !important;
  border-top: 1px solid #e5e5e5;
}

.noteInput {
  width: 100%;
  height: 2em;
  background: transparent;
  border: none;
  font-size: 2em;
  border-bottom: 2px solid #777;
}

.noteFont {
  font-family: 'Courier New', Courier, monospace;
  color:black;
}

#submitNote {
  background: transparent;
  border: 2px solid #777;
  font-size: 2em;
}

.instructions {
  display: inline-block;
  margin-right: 5em;
}

.note {
  background: transparent;
  margin-top: 5px;
  height: 3em;
  position: relative;
  cursor: pointer;
}
.noteTitle {
  display: inline-block;
  font-size: 2.5em;
  margin: 0;
}

.deleteNote {
  font-size: 2.5em;
  background: transparent;
  color: #777;
  border: none;
}

.storyPanel {
	background-image: url('../img/panel-background.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	color: #ddd;
	padding: 20px;
	border-radius: 20px 20px 20px 20px;
	border: 3px solid #ffae1a;
	position: relative;
  margin: 50px 20px;
  opacity: 0.9;
}

.imgBox {
  overflow: hidden;
  border: 3px solid #ddd;
}

.imgBox:hover .storyImg{
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.storyImg {
	float: right;
  -webkit-transition: -webkit-transform 300ms ease;
  transition: -webkit-transform 300ms ease;
  transition: transform 300ms ease;
  transition: transform 300ms ease, -webkit-transform 300ms ease;
}

.storyHeadline {
  color:#ffae1a;
	font-size: 3.5em;
	font-style: italic;
  -webkit-transition: color 300ms ease;
  transition: color 300ms ease;
}

.storyHeadline:hover {
	color: #777;
}

.storyPanel a {
	text-decoration: none;
	color: #ddd;
}

.storySummary {
	font-size: 2.5em;
}

.storyButton {
  font-size: 2.5em;
  padding: 5px 30px;
  border: 3px solid #ffae1a;
  background: #ffae1a;
  font-weight: 600;
  color: black;
  -webkit-transition: all 300ms ease;
  transition: all 300ms ease;
  margin-right:10px;
  border-radius: 10px 10px 10px 10px;
}

.storyButton:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}





